@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

:root {
    --red: #F05454;
    --blue: #0E49B5;
    --grey: #DDDDDD;
    --white: #FFFFFF;
    --bluegrey: #dae2ea;
    --darkgrey: #767272;
    --darkblue: #3B3E66;
    --green: #1BC943;
    --black: #000000;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: var(--grey);
    font-weight: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}



p {
    margin: 0 0 10px;
}

a {
    color: var(--blue);
    text-decoration: none;
    font-family: 'Roboto', serif;
}

a:hover {
    opacity: .7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cardo', serif;
    color: var(--blue);
    margin: 0 0 20px;
}
