@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Montserrat&family=Roboto&display=swap');

:root {
    --red: #F05454;
    --blue: #0E49B5;
    --grey: #DDDDDD;
    --white: #FFFFFF;
    --bluegrey: #DAE2EA;
    --darkgrey: #767272;
    --darkblue: #3B3E66;
    --green: #1BC943;
    --black: #000000;
    --lightblue:#EAF6FF;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: var(--grey);
    font-weight: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

img {
    max-width: 100%;
    /* height: auto; */
    vertical-align: top;
}

.container {
    max-width: 1300px;
    padding: 50px 15px;
    margin: 0 auto;
}

p {
    margin: 0 0 10px;
}

a {
    color: var(--blue);
    text-decoration: none;
    font-family: 'Roboto', serif;
}

a:hover {
    opacity: .7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cardo', serif;
    color: var(--blue);
    margin: 0 0 20px;
}

.signin {
    display: flex;
    justify-content: space-between;
}

.cart {
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.cart>img {
    padding: 5px;
    width: 40px;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
}

.cart span.cart {
    background-color: var(--blue);
    color: var(--white);
    position: absolute;
    width: 24px;
    height: 20px;
    top: -5px;
    right: -15px;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    border-radius: 50%;
}

.banner {
    position: relative;
    height: 600px;
    width: 100%;
    overflow-x: hidden;
}

.slideshow-container {
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    filter: blur(0.8px);
}

.slide {
    position: absolute;
    /*  width: 100%;
    height: auto; */
    transition: 2s;
    /*  transform: translateY(-25%); */
    opacity: 1;
}

.slide+.slide {
    opacity: 0;
}

.text-container {
    position: absolute;
    width: 100%;
    min-height: 600px;
    background: rgba(46, 46, 46, 0.6362920168067228);
    text-align: center;
    overflow-x: hidden;
}

a .slideshow-title {
    position: relative;
    display: block;
    font-family: "Roboto", sans-serif;
    color: var(--white);
    font-size: 72px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.buttons {
    position: relative;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: white;
    background: transparent;
    padding: 10px;
    transition: 1s;
}

.container-filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.container-filter .search {
    display: flex;
    flex-grow: 2;
    flex-wrap: nowrap;
}

.container-filter input {
    width: 100%;
    border: none;
}

.container-filter img {
    width: 40px;
    text-align: center;
    background-color: var(--blue);
    border-radius: 50%;
    padding: 5px;
}

.container-filter .search img {
    background: none;
}

.container-main {
    display: flex;
    flex-direction: row;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-cards .card {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkgrey);
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    margin: 50px 0 0 0;
    height: 500px;
}

.card .product-photo {
    /* width: 200px; */
    margin: 5px 50px;
    max-height: 200px;
}

.card .product-title {
    margin: 20px 0 8px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
}

.fa-solid.fa-circle-check {
    color: var(--green);
}

.fa-solid.fa-circle-xmark {
    color: var(--red);
}

.fa-solid.fa-heart {
    color: var(--red);
    margin: 10px;
}

.card .stock-status {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

span {
    font-weight: bold;
}

.product-stats {
    display: flex;
    flex-direction: row;
    background-color: var(--bluegrey);
    padding: 20px 20px 30px 20px;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    margin: 10px 0;
}

button.add-to-cart {
    width: 150px;
    background-color: var(--blue);
    padding: 15px 0;
    color: var(--white);
    font-family: 'Roboto';
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 12px 0;
}

button.add-to-cart.disabled {
    background-color: var(--grey);
}

.stats-left {
    display: flex;
    flex-wrap: nowrap;
}


/*  */
li {
    list-style-type: none;
}

.container-accordeon {
    display: none;
    min-width: 350px;
    color: var(--darkblue);
}

.filter-item-inner-heading.minus:after {
    content: "▲";
}

.filter-item-inner-heading.plus:after {
    content: "▼";
}

.span{
    display: flex;
    justify-content: space-between;
}

/*  */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    width: 70%;
    max-height: 75%;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    text-align: center;
    align-items: center;
}

.modal-content .modal-photo {
    width: 250px;
    margin: 0 30px;
}

.modal-content .modal-description {
    display: flex;
    flex-direction: column;
    color: var(--darkblue);
    margin: 0 90px;
}

.modal-content .description {
    text-align: left;
}

.modal-content .modal-price {
    color: var(--darkblue);
}

.modal-content .modal-price span {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: var(--darkblue);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    /* width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; */
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.modal-close:hover,
.modal-close:focus {
    color: rgba(0, 0, 0, 0.5);
}

.modal-cart {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: var(--white);
    width: 450px;
    z-index: 1;
    right: 25px;
    top: 100px;
}

.modal-cart .container-rows{
    width: 100%;
    max-height: 450px;
    overflow: auto;
}

.modal-cart .row-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--darkgrey);
    margin: 5px 0;
    padding: 0 20px;
}

.row-item .item-preview{
    width: 100px;
}

.item-info{
    color: var(--black);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
   /*  align-items: center; */
    justify-content: center;
    max-width: 60px;
}

.item-info span{
    background-color:var(--lightblue) ;
    color: var(--blue);
    padding: 5px;
    border-radius: 3px;
    width: 50px;
    
}

.row-item .counter{
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter button{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    width: 20px;
}

.counter button:disabled{
    background: var(--darkgrey);
}

.counter span{
    padding: 0 5px;
}

.fa.fa-times-circle{
    color: var(--red);
}

.modal-cart .total{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
    background: var(--lightblue);
    padding: 20px 0;
}

.modal-cart .buy{
    background: var(--blue);
    width: 250px;
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    margin: 20px 0;
}

#out{
    color:red;
}


@media (max-width: 1250px) {
    .modal-content{
        flex-direction: column;
        padding: 10 10px;
    }
}