<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <form action="">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <div id="msg"></div>
        <input type="button" id="log" value="Log in">
        <a href="../">Register</a>
    </form>
</body>
<script src="/js/login.js"></script>
</html>