<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <form action="">
        <div class="span">
            <label id="_email" for="email">E-mail</label>
        <input class="animated" type="email" name="email" id="email" >
        </div>
        <div class="span">
            <label id="_password" for="password">Password</label>
        <input class="animated" type="password" name="password" id="password" >
        </div>
        
        <div id="msg"></div>
        <input type="button" class="btn" id="log" value="Log in">
        <a href="../auth">Register</a>
    </form>
</body>
<script src="/js/login.js"></script>
</html>