<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="css/login.css">
    <title>Register</title>
</head>
<body>
    <form action="">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" placeholder="Enter your name">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <input type="button" class="btn" id="reg" value="Register">
        <div id="msg"></div>
        <a href="/auth/login">Log in</a>
    </form>
</body>
<script src="/js/auth.js"></script>
</html>