<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="css/login.css">
    <title>Register</title>
</head>
<body>
    <form action="">
        <div class="span">
           <label id="_first_name" for="first_name">First Name</label>
        <input type="text" class="animated" name="first_name" id="first_name"> 
        </div>
        <div class="span">
            <label id="_email" for="email">E-mail</label>
        <input type="email" class="animated" name="email" id="email">
        </div>
        <div class="span">
            <label id="_password" for="password">Password</label>
        <input type="password" class="animated" name="password" id="password" placeholder="Enter your password">
        </div>
        <input type="button" class="btn" id="reg" value="Register">
        <div id="msg"></div>
        <a href="/auth/login">Log in</a>
    </form>
</body>
<script src="/js/auth.js"></script>
</html>